.progress-section {
  top: 306px;
  left: 266px;
  width: 898px;
  height: 158px;
  position: relative;
}
.progress-section .task-progress {
  text-align: left;
  font: normal normal normal 14px/19px Roboto-Bold;
  letter-spacing: 0px;
  color: #ffffff;
}
.progress-section .task-progress p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
}

.er {
  display: flex;
}
.progress-section .er span {
  width: 36px;
  height: 26px;

  text-align: center;
  font: normal normal 300 20px/26px Roboto-Reg;
  letter-spacing: 0px;
  color: #ffffff;
}
.progress-section .er .progress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 15px;

  margin-top: 5px;
  margin-left: 10px;
}
.progress-section .er .progress::-webkit-progress-bar {
  /* UI Properties */

  background-color: #373737;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.progress-section .er .progress1::-webkit-progress-value {
  background: #30db63;
}
.progress-section .er .progress2::-webkit-progress-value {
  background: #60e8b6;
}
.progress-section .er .progress3::-webkit-progress-value {
  background: #60ade8;
}
.progress-section .er .progress4::-webkit-progress-value {
  background: #7160e8;
}

.button {

  width: 221px;
  height: 40px;
margin-left: 10px;
  background: #373737 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;

  text-align: center;
  font: normal normal normal 14px/19px Roboto-Reg;
  letter-spacing: 0px;
  color: #ffffff;
}

.btnSection {
  top: 374px;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
