
<ng-container *ngFor="let t of tab">
  <div class="progress-section">
    <div class="task-progress">
      <p>{{t.title}}</p>
      <div class="er">
        <span>{{t.value}}%</span>
        <progress 

        
        [ngClass]="{
          'progress4': (t.value > 0 &&  t.value <=25),
          'progress3': (t.value > 25 &&  t.value <=50),
          'progress2':( t.value > 50 &&  t.value <=75),
          'progress1': t.value > 75,
        }"

        
        
        class="progress"  max="100" [value]="t.value"></progress>
      </div>
    </div>
  </div>
</ng-container>
<div class="btnSection ">
  <button class="button" (click)='remiseAzero()'>
    Remettre à zéro les compteurs
  </button>
  <button class="button" (click)='AjoutFive()'>
    Ajouter 5%
  </button>
  <button class="button" (click)='Ajoutten()'>
    Ajouter 10%
  </button>
</div> 

