.titre{
  position: relative;
  top: 164px;
left: 517px;
width: 396px;
height: 42px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal bold 16px/21px Roboto-Bold;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}