@font-face {
  font-family: Roboto-Bold;
  src: url(../src/assets/font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Reg;
  src: url(../src/assets/font/Roboto-Regular.ttf);
}

body{
 

  background: #242424 0% 0% no-repeat padding-box;

  
  }